<div class="container">
    <div class="modal-box">
        <h1 style="color: rgb(194, 86, 194); font-size:22px; font-weight:bolder;" > Enter Task and click 'Create Button'</h1>

        <div class="field has-addons">
            <div class="control">
              <input #taskNameInput class="input" type="text" placeholder="Enter task...">
            </div>
            <div class="control">
              <a class="button is-info" style="background-color: rgb(192, 101, 192);" (click)="createTask(taskNameInput.value)" > Create </a>
            </div>
          </div>

          <button routerLink="/" class="backButton">&laquo; Go Back</button>


    </div>
</div>